@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Rye&family=Shrikhand&display=swap');

.App {
  text-align: center;
}

.api {
  width: 90%;
  background-color: #282646;
  padding: 0.5em;
}

.search-input-wrapper {
  background-color: aliceblue;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  color: aliceblue;
  padding: 0.3em;
  border-radius: 0.2em;
 }
 
 .search-bar {
   background-color: aliceblue;
   font-size: 0.9em;
   border-radius: 0.25em;
   padding-left: 0.5em;
   width: 100%;
   border: none;
   outline: none;
 }
 
 .fa-search {
   color: rgb(133, 136, 138);
 }

.button-container {
  margin-bottom: 4em;
}
.awesome-button {
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin: 0; 
}
.random-button {
  margin-top: 25px;
  padding: 5px;
  background-color: rgb(4, 4, 248);
  color: whitesmoke;
  font-size: 1.25em;
  border-radius: 0.25em;
  border-style: none;
  width: max-content;
  cursor: pointer;
} 
.random-button:hover {
  background-color:rgb(103, 103, 252);
}

.random-quote-wrapper {
  background-color: #282646;
  border-style: dashed;
  margin-bottom: 2em;
  width: 90%;
  padding: 0.5em;
}

.quotes-wrapper {
  background-color: #282646;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  width: 90%;
}

.App-header {
  background-color:  #2f2c4e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Rye', cursive;
  color: white;
}

